<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Endpoints</title>
</head>
<body>
{% block content %}
<ul>
        <li>"Average check for the store" - <a href="api/?params={{ average_check }}/">api/?params={{ average_check }}</a></li>
        <li>"Turnover of brands" - <a href="api/?params={{ turnover_brands }}/">api/?params={{ turnover_brands }}</a></li>
        <li>"Quantity of sales by brands" - <a href="api/?params={{ quantity_sales_brands }}/">api/?params={{ quantity_sales_brands }}/</a></li>
        <li>"Quantity of receipts by brands" - <a href="api/?params={{ quantity_receipts_brands }}/">api/?params={{ quantity_receipts_brands }}/</a></li>
<!--        <li>"Withdraw Group A goods by turnover (ABC analysis)" - <a href="api/?params={{ abc_analysis }}/">api/?params={{ abc_analysis }}/</a></li> -->
</ul>
{% endblock %}
</body>
</html>